
html {
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: #849d8f;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  max-width: 1146px;
  min-width: 860px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.button {
  padding: 11px 10px;
  background-color: #ec583c;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #f17c64;
  box-shadow: inset 0 -2px 0 0 #ac1000;
  text-shadow: 0 2px 5px #ac1000;
}

.button:active {
  background-color: #e05e3d;
  box-shadow: inset 0 2px 0 0 #ac1000;
  text-shadow: 0 2px 5px #ac1000;
}

.main-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-top: 9px;
  line-height: 18px;
  font-weight: 700;
  color: #fff;
}

.main-header a {
  color: inherit;
}

.main-header ul {
  list-style: none;
}

.left-header {
  display: flex;
}

.left-header img {
  margin-right: 10px;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 14px;
}

.catalog {
  position: relative;
}

.sub-menu-wrapper {
  position: absolute;
  top: 30px;
  left: -7px;
  display: none;
  padding-top: 5px;
}

.sub-menu {
  width: 143px;
  margin: 0;
  padding: 5px 9px 8px 6px;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.sub-menu li {
  margin-bottom: 4px;
}

.sub-menu li:hover {
  background-color: #fbded7;
}

.sub-menu li:active {
  background-color: #f6b5a5;
}

.active {
  background-color: #d07058;
}

.sub-menu a {
  display: block;
  padding: 5px 5px 5px 14px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #323232;
}

.new-items {
  margin-bottom: 9px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.new-items a {
  padding-top: 6px;
  padding-bottom: 7px;
  font-weight: 700;
}

.catalog:hover .sub-menu-wrapper {
  display: block;
}

.site-navigation > li {
  padding: 7px 15px;
  border-radius: 13px;
  cursor: pointer;
}

.site-navigation > li:hover {
  background-color: #f7f6f3;
  color: #323232;
}

.site-navigation > li:not(.catalog):active {
  box-shadow: inset 0 2px 2px 0 #696969;
  background-color: #f7f6f3;
  color: #323232;
}

.site-navigation a {
  position: relative;
}

.site-navigation a::before {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: 0.2;
}

.catalog a::before {
  display: none;
}

.catalog > a::before {
  display: block;
}

.right-header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 267px;
  margin-left: 26px;
  padding-top: 14px;
}

.search,
.log-in,
.cart {
  position: relative;
  z-index: 200;
}

.log-in,
.cart {
  margin-left: 10px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 13px;
  cursor: pointer;
}

.input-field-wrapper,
.log-in-menu-wrapper,
.cart-menu-wrapper {
  position: absolute;
  display: none;
  top: 31px;
  right: 0;
  padding-top: 5px;
}

.input-field,
.log-in-menu,
.cart-menu {
  padding: 20px 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 20px 20px 5px rgba(0, 0, 0, 0.2);
}

.log-in-menu-wrapper {
  cursor:auto;
}

.log-in-menu input {
  width: 240px;
}

.log-in-menu button {
  position: absolute;
  bottom: 23px;
}

.log-in-menu > div {
  margin-left: 120px;
  font-size: 13px;
  color: #000;
  line-height: 24px;
}

.reference {
  text-decoration: underline;
  text-decoration-color: #adacaa;
}

.reference:hover {
  color: #e84d37;
  text-decoration-color: rgba(236, 89, 60, 0.3);
}

.right-header input {
  height: 44px;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.input-field input {
  width: 310px;
}

.search:hover .input-field-wrapper,
.log-in:hover .log-in-menu-wrapper,
.cart:hover .cart-menu-wrapper {
  display: block;
}

.loupe::before,
.log-in > a:before,
.cart > a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 13px;
  background-color: #fff;
  opacity: 0.2;
}

.loupe {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.loupe::before {
  border-radius: 50%;
}

.search:hover .loupe {
  background-color: #fff;;
}

.search:hover path,
.cart:hover path,
.cart:hover circle,
.log-in:hover polygon,
.log-in:hover path {
  fill: #000;
}

.cart:hover polygon {
  fill: #e84d37;
}

.log-in,
.cart {
  position: relative;
}

.log-in {
  padding: 7px 16px 7px 45px ;
}

.cart {
  padding: 7px 34px 7px 45px;
}

.cart svg,
.log-in svg {
  position: absolute;
  top: 7px;
  left: 16px;
}

.log-in:hover a::before,
.cart:hover a::before {
  opacity: 1;
  z-index: -10;
}

.log-in:hover > a,
.cart:hover > a {
  color: #000;
}

.cart-menu {
  width: 540px;
  cursor: auto;
}

.cart-item {
  display: flex;
  margin-bottom: 5px;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.cart-item-delete {
  position: relative;
  align-self: flex-start;
  display: block;
  width: 15px;
  height: 15px;
  margin-top: 14px;
  margin-right: 9px;
  cursor: pointer;
}

.cart-item-delete::before,
.cart-item-delete::after {
  content: "";
  position: absolute;
  top: 7px;
  display: block;
  width: 15px;
  height: 1px;
  background-color: #000;
  transform: rotate(45deg);
}

.cart-item-delete::after {
  transform: rotate(315deg);
}

.mini-ice-image {
  padding-top: 5px;
  margin-right: 14px;
}

.ice-description {
  width: 220px;
  margin-right: 10px;
}

.ice-description + p {
  width: 120px;
  margin-right: 10px;
  text-align: center;
}

.cart-item p:last-child {
  width: 70px;
  text-align: center;
}

.one-item-price {
  color: #999999;
}

.total-price {
  margin-bottom: 12px;
  text-align: end;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  font-weight: 700;
}

.cart-menu .button {
  margin-left: auto;
  width: 170px;
}

.contact {
  position: absolute;
  display: block;
  top: 73px;
  right: 0;
}

.contact div:first-child {
  text-align: end;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 3px;
}

.contact div:last-child {
  text-align: end;
  font-size: 22px;
  line-height: 24px;
}

.sliders {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-top: auto;
  padding-bottom: 60px;
  width: 700px;
  min-height: 585px;
}

.sliders p {
  display: block;
  margin-bottom: 25px;
  width: 700px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #fff;
}

.sliders .button {
  width: 280px;
  padding: 10px 5px;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  border-radius: 30px;
}

.slider {
  display: none;
  background-repeat:
    no-repeat,
    no-repeat;
  background-position:
    27px 0,
    top 41px right 27px;
  }

.slider::before {
  content: "";
  top: 0;
  position: absolute;
  display: block;
  width: 1200px;
  height: 881px;
  background-repeat: no-repeat;
  background-position: center top;
  z-index: -100;
}

.slider-1 {
  background-image:
    url(../img/ice-cream-1-1.png),
    url(../img/ice-cream-1-2.png);
}

.slider-1:before {
  background-image: url(../img/illumination-1.png);
}

.slider-2 {
  background-image:
    url(../img/ice-cream-2-1.png),
    url(../img/ice-cream-2-2.png)
}

.slider-2:before {
  background-image: url(../img/illumination-2.png);
}

.slider-3 {
  background-image:
    url(../img/ice-cream-3-1.png),
    url(../img/ice-cream-3-2.png)
}

.slider-3:before {
  background-image: url(../img/illumination-3.png);
}

.slider-controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  top: 563px;
  width: 79px;
  height: 21px;
}

.slider-controls-item {
  font-size: 0;
  width: 21px;
  height: 21px;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls-item:hover {
  background-color: rgba(255, 255, 255, 0.4);
}


#product-1:checked ~ .slider-1 {
  display: flex;
}

#product-2:checked ~ .slider-2 {
  display: flex;
}

#product-3:checked ~ .slider-3 {
  display: flex;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1,
#product-2:checked ~ .slider-controls .slider-controls-item--2,
#product-3:checked ~ .slider-controls .slider-controls-item--3 {
  background-color: #fff;
}

.banners {
  display: flex;
  justify-content: space-between;
  margin-top: -20px;
  margin-bottom: 40px;
}

.banner {
  display: flex;
  flex-direction: column;
  width: 560px;
  min-height: 229px;
  padding: 18px 20px 20px 24px;
  border-radius: 11px;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.banner:first-child {
  background-image: url(../img/raspberry.jpg);
}

.banner:last-child {
  background-image: url(../img/chocolate.jpg);
}

.banner h3 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 41px;
}

.banner p {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
}

.banner .button {
  align-self: flex-end;
  margin-top: auto;
  padding-right: 22px;
  padding-left: 22px;
  
}

